<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Produt</title>
    <link rel="stylesheet " href="/css/main.css">
    <link rel="stylesheet " href="/css/product.css">
    <link rel="stylesheet" href="/css/contactus.css">
    

</head>
<body>
    <header class="main-header">
        <nav class="main-header__nav">
            <ul class="main-header__itemlist">
                <li class="main-header__items"><a class="active" href="/">shop</a></li>
                <li class="main-header__items"><a  href="/admin/add-product">Add-product</a></li>
                <li class="main-header__items"><a  href="/contactus">ContactUs</a></li>
            </ul>
        </nav>
    </header>
    <main>
    <form>
        <form action="/success" method="POST">

            <table>
    
                <tr >
    
                    <td id="trid"><h3>Book a Call</h3>
    
                        <p><h5>Book a call slot and our repreentative will call you With in Selected time</h5></p>
    
                        <hr>
    
                      <!-- <label for="name">Name:</label><br> --> 
    
                        Name:<br></Name:br><input type="" name="name" id="name"><br> 
    
                        <label>Email-id:</label><br>
    
                        <input type="email" name="email" id="email-id" value=""> <br>
    
                        <label for="Mobile">Mobile:</label><br>
    
                        <input type="number" name="Mobile" id="Mobile" value=""> <br>
    
                        <label for="time">Time for call:</label><br>
    
                        <input type="date" name="time" id="time" value="" > 
    
                        <input type="time" name="time" id="time" value="" > <br>
    
                        <button>Get A Call</button>
    
    
    
                    </td>
    
                </tr>
    
                
    
            </table>
    
    
        </form>
    
        </main>

    </form>
    </main>
</body>
</html>